@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500&family=PT+Serif:wght@700&display=swap');

:root {
    --font-primary: 'Manrope', sans-serif;
    --font-secondary: 'PT Serif', serif;
    --color-primary: #bf3939;
    --color-secondary: #ffffff;
    --color-black: #000000;
    --color-bg-primary: #ffffff;
    --color-bg-secondary: #F6FAFB;
    --color-text-primary: #333333;
    --color-text-secondary: #696969;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body {
    font-family: var(--font-primary);
}

main {
    width: 100%;
    overflow: hidden;
} 

a {
    text-decoration: none;
}

h1,
h2 {
    font-family: var(--font-secondary);
}
/* >BUTTONS */
.button {
    display: inline-flex;
    height: 48px;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 16px;
    width: 220px;
    background: var(--color-bg-primary);
    color: var(--color-primary);
    border-radius: 30px;
    font-weight: 500;    
}

.button_nav {
    width: 150px;
}

.button_secondary {
    background: var(--color-primary);
    color: var(--color-bg-primary);
}

.button_outline {
    border: 1px solid var(--color-primary);
}

.button_heading {
    width: 200px;
}

/* LANDING SECTION */

.landing {
    height: 100vh;
    position: relative;


}
.landing_img {
    height: 100%;
    width: 100%;
    object-fit: cover;


}
.landing_overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    

}
.landing_overlay-red {
    height: 100%;
    width: 27%;
    left: 0;
    position: absolute;
    background: #bf3939ef;

}
.landing_overlay-dark {
    height: 100%;
    right: 0;
    width: 73%;
    position: absolute;
    background: #000000ad;

}
.landing_content {
    position: absolute;
    top: 0;
    left: calc((100% - 1300px) / 2);
    width: 1300px;
    display: flex;
    height: 100%;
    align-items: center;

}


.landing_title {
    font-size: 56px;
    width: 550px;
    margin-bottom: 24px;
    color: var(--color-bg-primary)


}
.landing_subtitle {
    color: var(--color-bg-primary);
    font-size: 16px;
    width: 440px;
    margin-bottom: 48px;


}

/* HEADER */


.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    padding: 24px;

}

/* .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    padding: 32px 0;

} */

.header.header_secondary {
    background-color: var(--color-text-primary);
    position: initial;
  }

 .header__hamburger {
     width: 30px;
     height: auto;
     
 } 

 .header__hamburger path{
     fill:#ffffff;
 }

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/* .header_inner {
    width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

} */

.header_nav {
    display: none;
}

.header_logo {
    width: 140px;
}


.header_nav-link {
    color: var(--color-secondary);
    letter-spacing: 1px;
    margin-right: 48px;
}

.header_nav-button {
    margin-right: 24px;
}

.header_nav-button:last-child {
    margin-right: 0;
}

@media (min-width:1024px){
    .header_nav {
        display: block;
    }
    .header__hamburger {
        display: none;
    }
    .header_inner {
        width: 960px;
        margin: 0 auto;
        padding: 32px 0;
} }

@media (min-width:1300px) {
    .header_inner {
        width: 1260px;
} }

/* SECTION */

.section {
    padding: 60px 24px;
}

.section_testimonials {
background: var(--color-bg-secondary);

}

.section__action-text {
    display: block;
    color: var(--color-primary);
    font-weight: 500;
    margin-bottom: 24px;
}

.section__heading {
    margin-bottom: 64px;
}

.section__title {
    color: var(--color-text-primary);
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 32px;
}

@media (min-width:375px) {
    .section {
        padding: 30px 24px;
    }
}


@media (min-width:768px) {
    .section__title {
        font-size: 32px;
        margin-bottom: 0;
    }

    .section__heading {
        margin-bottom: 64px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}


@media (min-width:1024px) {
    .section {
        padding-top: 60px;
        padding-bottom: 120px;
    }

    .section__inner {
        width: 960px;
        margin: 0 auto;
    }
    
}

@media (min-width:1300px) {
    .section__inner {
        width: 1300px;
    }
    
}

/* COURSES */

.courses-featured {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 48px;
}

.course__figure {
    width: 100%;
    height: 245px;
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 16px;
    transition: all 0.3s;
}

.course__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-out;
}

.course__title {
    font-size: 20px;
    font-weight: 500;
    color: var(--color-text-primary);
    text-align: center;
    margin-bottom: 8px;
    transition: color 0.3s ease-out;
}

.course__subtitle {
    font-size: 16px;
    font-weight: 300;
    color: var(--color-text-secondary);
    text-align: center;
}

.course:hover .course__figure {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.course:hover .course__img {
    transform: scale(1.05);
 }

.course:hover .course__title {
   color: var(--color-primary);
}

@media (min-width:481px) {
    .courses-featured {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 32px;
    }

    .course__figure {
        height: 200px;
    }
}

@media (min-width:768px) {
    .course__figure {
        height: 275px;
    }
}

@media (min-width:1024px) {
    .courses-featured {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 48px;
    }

    .course__figure {
        height: 230px;
    }
}

@media (min-width:1300px) {
    .courses-featured {
        grid-template-columns: repeat(4, 1fr);
        column-gap: 48px;
    }

    .course__figure {
        height: 255px;
    }
}






/* Testimonials */

.testimonial {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.testimonial__figure {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
}

.testimonial__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonial__content {
    padding-left: 120px;
}

.testimonial__text {
    font-size: 30px;
    line-height: 180%;
    color: var(--color-text-secondary);
}

.testimonial__quotation {
    font-size: 48px;
}

@media (min-width:375px) {
    .testimonial {
      flex-wrap: wrap;
        
    }

    
}

/* Single course */


.single-course__figure {
    width: 100%;
    height: auto;
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 32px;

}

.single-course__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.single-course__text {
    font-size: 16px;
    line-height: 180%;
    color: var(--color-text-primary);
}

@media (min-width:768px) {
    .single-course {
        display: flex;
        justify-content: space-between;
        
    }

    .single-course__figure {
        width:350px;
        height: 350px;
        margin-bottom: 0;
        flex-shrink: 0;
    
    }

    .single-course__text {
        padding-left: 48px;
    }

}

@media (min-width:1300px) {
    .single-course__figure {
        width:450px;
        height: 450px;
        margin-bottom: 0;
        flex-shrink: 0;
    
    }

    .single-course__text {
        padding-left: 60px;
    }
}